


<div class="container">
    <h3 class="text-end me-3 mt-3 mb-2 text-light">Welcome, <span>{{usname}}<i class="far fa-smile text-light ms-2 me-4 mt-3 mb-2"></i></span></h3>
<div class="text-end me-4">
     <h5 class="text-light me-4 text-light">{{usmail}}</h5>
</div>

    <h2 class="text-light text-center">(   TOTAL ITEMS {{size}})</h2>
    <div class="row">
        <div class="mybag col-lg-12 col-xl-8 mb-3">
            <div class="row mb-2 mt-2" *ngFor="let p of products" >
                <div class="col-4 col-sm-4 col-md-3 col-lg-3 ">
                    <img src="{{p.image}}" alt="img not found" width="100%">
                </div>
                <div class="col-8 col-sm-8 col-md-9 col-lg-9 ">
                    <h2 class="text-dark">{{p.foodname}}</h2>
                    <i class="text-dark">{{p.foodfullname}}</i>
                    <hr>
                    <span id="size" class="p-1 mt-1 text-dark"><b> Size: {{p.foodcal}} </b></span>
                    <h4 class="display-5 text-end text-dark"><span id="price">{{p.cost | currency:'INR'}}</span></h4>
                </div>
                <div class="food-card_order-count text-dark">
                    <div class="input-group mb-3 text-dark">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-secondary minus-btn mt-2"   (click)="deleteitem(p.foodid)"  type="button" id="button-addon1"><i class="fa fa-minus"></i></button>
                        </div>
                        <p class="mt-2 text-dark ms-2 me-2">{{p.foodcount}}</p>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary add-btn mt-2" type="button"   (click)="additem(p.foodid)"  id="button-addon1"><i class="fa fa-plus"></i></button>
                        </div>
              
                    </div>
                </div>

            </div>
<br>
        </div>

        <div class="col-xl-4">
            <div class="border border-2 p-2">
                <div class="coupon">
                    <h6 class="ms-2">COUPONS</h6>
                    <p class="ms-2"><i class="fas fa-tag me-2" style="font-size: 20px;"></i>Apply coupons<a class="check text-end float-end me-2 ">APPLY</a></p>
                </div>
                <hr>
                <div class="details mt-3 mb-3">
                    <h6 class="ms-2 text-dark">PRICE DETAILS  items </h6>
                    <div class="text-start ms-2">
                        <p>Total MRP<strong class="float-end">{{add | currency:'INR'}}</strong></p>
                        <p>Discount on MRP<strong class="float-end text-dark">{{dis| currency:'INR'}}</strong></p>
                        <p>coupon discount <strong class="float-end">{{con| currency:'INR'}}</strong></p>
                        <p>Convenience Fee<strong class="float-end">{{con| currency:'INR'}}</strong></p>
                        <hr>
                        <h6>Total Amount <strong class="float-end">{{add | currency:'INR'}}</strong></h6>
                        <hr>
                    </div>
                    <div class="btn w-100 mt-2 mb-2"><a href="https://pages.razorpay.com/pl_K1vsGkJOAzbUJb/view"  target="_blank" class="amount">PLACE ORDER</a></div>
                </div>
            </div>
        </div>


    </div>



 
</div>


