<h4 class="text-end text-secondary">Welcome, <span id="name">{{usname}}</span>
    <h6 class="text-dark">{{usmail}}</h6>
</h4>


<div class="container">
    <h2 class="mybag ">(My Bag  items)</h2>
    <div class="row">
        <div class="col-lg-12 col-xl-8">

        
            <div class="row mb-2" *ngFor="let p of products" >
                <div class="col-4 col-sm-4 col-md-3 col-lg-3 ">
                    <img src="{{p.image}}" alt="img no3t found" width="100%">
                </div>
                <div class="col-8 col-sm-8 col-md-9 col-lg-9 ">
                    <h2>{{p.foodname}}</h2>
                    <i>{{p.foodfullname}}</i>
                    <hr>
                    <span id="size" class="p-1 mt-1"><b> Size: {{p.foodcal}} </b></span>
                    <h4 class="display-5 text-end"><span id="price">{{p.cost | currency:'INR'}}</span></h4>
                </div>
                <div class="food-card_order-count">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-secondary minus-btn"   (click)="deleteitem(p.foodid)"  type="button" id="button-addon1"><i class="fa fa-minus"></i></button>
                        </div>
                        <p class="mt-1 text-dark ms-2 me-2">{{p.foodcount}}</p>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary add-btn" type="button"   (click)="additem(p.foodid)"  id="button-addon1"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                </div>

            </div>

        </div>


    </div>

</div>
