body{
    margin: 0;
    padding: 0;
    
    background-color:black;
}


/*
.login-form{
    width: 370px;
    height:400px;
    margin-top: 40px;
    color: black;
    top: 50%;
    left: 50%;
    text-align: center;
    z-index: 999;
    position: absolute;
    transform: translate(-50%,-50%);
    background-color: rgba(0,0,0,0.4);
    box-sizing: border-box;
    padding: 60px 60px;
    border:1.3px solid white; 
    background: rgba(255,255,255,0.04);
    box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
    border-radius: 5px;
}
.vnr-image{
    width: 120px;
    top: -50%;
    left:calc(50% - 50px);
    margin: auto;
}
h2{
    text-align: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin-top: 5px;
}
.textbox{
    width: 100%;
    height: 48px;
    overflow: hidden;
    font-size: 15px;
    padding: 8px 0;
    margin: 8px 0;
    text-align: center;
    display: flex;
}
.textbox i
{
    width:45px;
    border: 1px solid white;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    line-height: 28px;
    color: rgb(90, 86, 90);
    background-color: white;
    border-right: 1px solid gray;
}
.textbox input{
    height:100%;
    width:100%;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    padding: 5px 5px;
    border: none;
    outline: none;
    font-size: 15px;
    font-weight:bold;
    font-family: 'Open Sans', sans-serif;
}
.button{
    margin-top: 10px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    
}
.checkbox {
    margin: 0 0 15px;
    padding: 0 15px 0 0;
    font-size: 12px;
}
.no-margin {
    margin: 0!important;
}
.checkbox, .radio {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.text {
    color: lightblue !important;
    font-weight: 1200;
}
a {
    color: #353535;
}
#scrollUp, a, a:hover {
    text-decoration: none;
}
a {
    color: #337ab7;
    text-decoration: none;
}

a {
    background-color: transparent;
} */


.input-group{
    margin-top: 30px;
    width:100%;
    transition:.5s;
}
.input-field{
    width:100%;
    padding: 10px 0;
    padding-left: 5px;
    margin: 5px 0;
    border: 1px solid #999;
    border-radius: 5px;
    left: 50px;
}

.submit-btn{
    width:85%;
    padding: 10px 30px;
    cursor:pointer;
    display:block;
    margin:auto;
    background: linear-gradient(to right,#ff105f,#ffad06);
    border:1px solid #ff105f;
    outline:none;
    border-radius: 20px;
}