.form{
    width:100%;
}
.input-group{
    margin-top: 50px;
    width:100%;
    
}
.input-field{
    width:100%;
    color: rgb(9, 9, 9);
    padding: 10px 0;
    padding-left: 5px;
    border: 1px solid #999;
    border-radius: 5px;
    background-color: aliceblue;
}

.submit-btn{
    width:100%;
    padding: 10px 30px;
    cursor:pointer;
    display:block;
    margin:auto;
    background: linear-gradient(to right,#ff105f,#ffad06);
    border:1px solid #ff105f;
    outline:none;
    border-radius: 30px;
}