<!-- <div class="container ">
    <div class="row">
       
        <div class="col-sm-12 col-md-12 col-lg-6 ">
            <form class="w-100 " #ref="ngForm"  (ngSubmit)="signUpCheck(ref.value)">
                <h1 class="text-center text-dark mt-5">Sign Up</h1>
                <div class="form-floating mb-3 ">
                    <input type="username" class="form-control" id="fullname" placeholder="Full Name" name="fullname"  ngModel>
                    <label for="fullname" class="form-label">Full Name</label>
                  </div>
                  <div class="form-floating  mb-3 mt-3">
                    <input type="email" class="form-control" id="email" placeholder="email" name="email"  ngModel>
                    <label for="email" class="form-label">E-Mail</label>
                  </div>
                  <div class="form-floating  mb-3 mt-3">
                    <input type="password" class="form-control" id="ps" placeholder="Password" name="password"  ngModel>
                    <label for="password" class="form-label">Password</label>
                  </div>
                  <div class="form-floating  mb-3 mt-3">
                    <input type="number" class="form-control" id="mno" placeholder="Mobile No" name="mno"  ngModel>
                    <label for="mno" class="form-label">Mobile Number</label>
                  </div>
                  <button class="btn btn-warning text-dark d-block mx-auto mt-3 mb-3" type="submit">Sign Up</button>    

            </form>
            
        </div>


    </div>

</div> -->




<div class="container ">
  <div class="row">
     
      <div class="col-sm-12 col-md-12 col-lg-6 ">
          <form class="w-100" #ref="ngForm"  (ngSubmit)="signUpCheck(ref.value)">
              <input type="username" class="input-field mt-5" id="fullname" placeholder="Full Name" name="fullname" ngModel>
              <input type="email" class="input-field mt-2" placeholder="email" name="email" ngModel>              
              <input type="password" class="input-field mt-2" placeholder="Password" name="password" ngModel>
              <input type="number" class="input-field mt-2" placeholder="Mobile No" name="mno" ngModel>
              <button type="submit" class="submit-btn text-center mt-3">Create Account</button>   

          </form>
          
      </div>


  </div>

</div>