/* You can add global styles to this file, and also import other style files */
body{
    background-image: url('https://t3.ftcdn.net/jpg/02/54/20/88/360_F_254208823_NXcV5RCcWJ1vgSuWjhPqIpPmqXIyBrDO.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
